* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #181818;
}

main {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* {
background-color: #2a2a2a; 
max-width: 500px;
width: 50%;
text-align: center; */


section {
    max-width: 800px;
    width: 150%;
    height: 90%;
    padding: 90px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #2a2a2a;
    justify-content: center;
    align-items: center;
    margin-left: 20%;

}

div {
    display: flex;
    width: 100%;
    height: 10%;
}

#title {
    background-color: #3f3f46;
    width: 100%;
    border: none;
    border-radius: 8px;
}


/* label{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
} */

button {
    background-color: #3f3f3f;
    cursor: pointer;
    border: none;
    width: 10%;
    padding: 0.25rem;
    border-radius: 8px;
    text-align: center;
}

button:hover {
    background-color: #7e7e7e;
}


.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;

}